.chatwrapper {
  border-radius: 5px;
  z-index: 999999;
  margin-bottom: 2rem;
  max-width: 300
}

.chatcontainer {
  height: 300px;
  padding: 3px;
  border-radius: 1px;
  margin-bottom: 3px
}

.box {
  border-radius: 5px;
  border: 1px solid #eae8e4;
  height: 240px;
  overflow: scroll;
}

.boxcontent {
  overflow-y: scroll;
  height: 240px
}

.boxinputmessage {
  margin-top: 5px;
  padding-bottom: 25px
}